.choice-button-default {
    background: none;
    color: #CCAE68;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.choice-button-active {
    background: #FFFFFF;
    border-radius: 8px 8px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.choice-button {
    margin: 0;
    padding: 0;
    width: 90px;
    height: 48px;
    border: none;
}